/* styles.css */

/* base */
.navbar {
  min-height: 0px !important; background: cornsilk;
  padding-top: 0; padding-bottom: 0.1rem; }
.navbar-nav {padding-top:0 !important; padding-bottom:.2rem !important;}
/* .navbar-nav > li > a {padding-top:0 !important; padding-bottom:.2rem !important;} */
header { border-bottom: 1px solid #e8e8e8; }
