/* styles.css */

#map {
  position:relative; top:0; bottom:0; left:0; height:calc(90vh);
  width: calc(100% - 200px); z-index: 1000; background:aliceblue;
}
#map_home.leaflet-container {height:100%;)}
#slider{ position: absolute; top: 25px; right: 70px; z-index: 400; }

#sidebar { position:relative; right:0; top:0; overflow-x: hidden; overflow-y: auto;
  padding: 8px; z-index: 1450; background: #f8f8f8; width:200px;}
.metadata {position: absolute; background:ivory; bottom:0; height:130px;
  margin-left:-8px; font-size:smaller; width: 100%; padding: 8px;
  border-top: 1px solid #ddd;}
.table-sm {font-size: .8rem;}
.sectionheader {font-size: .6rem; color: #993333;}

#tab_bench {
  background-color:#fff; padding:4px; font-size:smaller;
  border-left:1px solid #eee; border-right:1px solid #eee;
}
#scope_btns {border-bottom:1px dashed #ddd;}

h4, h5 {font-family: 'Raleway', sans-serif;}
.hidden {display:none;}
.smaller {font-size:.7rem;}

/* base */
.navbar {
  min-height: 0px !important; background: azure;
  padding-top: 0; padding-bottom: 0.1rem; font-family: 'Raleway', sans-serif; }
.navbar-nav {padding-top:0 !important; padding-bottom:.2rem !important;}
/* .navbar-nav > li > a {padding-top:0 !important; padding-bottom:.2rem !important;} */
header { border-bottom: 2px solid #e8e8e8; }

/*font-family: 'Raleway', sans-serif;*/
/*font-family: 'EB Garamond', serif*/;


