<!-- main/home.html -->
{% extends "main/base.html" %}
{% load leaflet_tags %}
{% load fontawesome_5 %}
{% block title %}<title>lp.draw</title>{% endblock %}
{% block extra_head %}
  {% load static %}
  {% leaflet_js %}
  {% leaflet_css %}
  <!--<link rel="stylesheet" href="{ static 'css/styles.css' }"/>-->
  <script src="{% static 'js/FileSaver.min.js' %}"></script>
  <script src="{% static 'js/leaflet-draw/Leaflet.draw.js' %}"></script>
  <script src="{% static 'js/leaflet-draw/Leaflet.Draw.Event.js' %}"></script>
  <link rel="stylesheet" href="{% static 'js/leaflet-draw/leaflet.draw.css' %}"/>

  <script src="{% static 'js/leaflet-draw/Toolbar.js' %}"></script>
  <script src="{% static 'js/leaflet-draw/Tooltip.js' %}"></script>

  <script src="{% static 'js/leaflet-draw/ext/GeometryUtil.js' %}"></script>
  <script src="{% static 'js/leaflet-draw/ext/LatLngUtil.js' %}"></script>
  <script src="{% static 'js/leaflet-draw/ext/LineUtil.Intersect.js' %}"></script>
  <script src="{% static 'js/leaflet-draw/ext/Polygon.Intersect.js' %}"></script>
  <script src="{% static 'js/leaflet-draw/ext/Polyline.Intersect.js' %}"></script>
  <script src="{% static 'js/leaflet-draw/ext/TouchEvents.js' %}"></script>

  <script src="{% static 'js/leaflet-draw/draw/DrawToolbar.js' %}"></script>
  <script src="{% static 'js/leaflet-draw/draw/handler/Draw.Feature.js' %}"></script>
  <script src="{% static 'js/leaflet-draw/draw/handler/Draw.SimpleShape.js' %}"></script>
  <script src="{% static 'js/leaflet-draw/draw/handler/Draw.Polyline.js' %}"></script>
  <script src="{% static 'js/leaflet-draw/draw/handler/Draw.Marker.js' %}"></script>
  <script src="{% static 'js/leaflet-draw/draw/handler/Draw.Circle.js' %}"></script>
  <script src="{% static 'js/leaflet-draw/draw/handler/Draw.CircleMarker.js' %}"></script>
  <script src="{% static 'js/leaflet-draw/draw/handler/Draw.Polygon.js' %}"></script>
  <script src="{% static 'js/leaflet-draw/draw/handler/Draw.Rectangle.js' %}"></script>

  <script src="{% static 'js/leaflet-draw/edit/EditToolbar.js' %}"></script>
  <script src="{% static 'js/leaflet-draw/edit/handler/EditToolbar.Edit.js' %}"></script>
  <script src="{% static 'js/leaflet-draw/edit/handler/EditToolbar.Delete.js' %}"></script>

  <script src="{% static 'js/leaflet-draw/Control.Draw.js' %}"></script>

  <script src="{% static 'js/leaflet-draw/edit/handler/Edit.Poly.js' %}"></script>
  <script src="{% static 'js/leaflet-draw/edit/handler/Edit.SimpleShape.js' %}"></script>
  <script src="{% static 'js/leaflet-draw/edit/handler/Edit.Rectangle.js' %}"></script>
  <script src="{% static 'js/leaflet-draw/edit/handler/Edit.Marker.js' %}"></script>
  <script src="{% static 'js/leaflet-draw/edit/handler/Edit.CircleMarker.js' %}"></script>
  <script src="{% static 'js/leaflet-draw/edit/handler/Edit.Circle.js' %}"></script>

  <script src="{% static 'js/leaflet.ajax.min.js' %}"></script>
<style>

</style>
{% endblock %}
{% block content %}
<div class="container">
  <div id="names" class="row hidden">
  </div>
  <div class="row">
    <div id="map">{% leaflet_map "map_home" callback="map_init" %}
    <input id="slider" type="range" class="hidden" min="0" max="1" step="0.1" value="1" oninput="layer.setOpacity(this.value)"></div>
    <div id="sidebar" class="">
      <div class="form-group">
        <h5>Project {{ projid }}</h5> 
          <select id="project_select" class="form-control custom-select-sm">
            <option value="0" selected>Select project</option>
          </select>
        </div>
      <div id="div_map_select" class="form-group hidden">
        <h5>Map</h5>
          <select id="map_select" class="form-control custom-select-sm">
            <option value="0" selected>Select map</option>
          </select>
      </div>
      <hr/>
      <!-- tabs here -->
      <ul id="draw_tabs_ul" class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link p-2 active" href="#tab_bench">Workbench</a>
        </li>
        <li class="nav-item">
          <a class="nav-link p-2" href="#tab_stats">Stats</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div id="tab_bench" class="tab-pane fade show active" role="tabpanel">
          <div id="scope_btns" class="my-2 hidden">
            <div class="sectionheader">DISPLAYED FEATURES</div>
            <label class="radio-inline mr-2"><input type="radio" name="scope" value="all" checked> All maps</label>
            <label class="radio-inline"><input type="radio" name="scope" value="this"> This map</label>
          </div>
          <div class="sectionheader">FEATURE TYPES</div>
          <div id="r1" class="radio">
            <label><input type="radio" name="placetype" value="300008347" checked> settlement</label></div>
          <div id="r2" class="radio">
            <label><input type="radio" name="placetype" value="300000810"> archaeological site</label></div>
          <div id="r3" class="radio">
            <label><input type="radio" name="placetype" value="300008347,300000810"> settlement/arch. site</label></div>
          <div id="r4" class="radio">
            <label><input type="radio" name="placetype" value="300386176"> dynasty</label></div>
          <div id="r5" class="radio">
            <label><input type="radio" name="placetype" value="300000774"> province</label></div>
          <div id="r6" class="radio">
            <label><input type="radio" name="placetype" value="300387171"> ethnic group</label></div>
        </div> <!-- tab_bench -->
        <div id="tab_stats" class="tab-pane fade" role="tabpanel">
          <div class="sectionheader">TO DATE</div>
          <table class="table table-striped table-sm">
            <thead class="thead-light">
              <tr>
                <th>type</th>
                <th>count</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>settlement</td>
                <td>452</td>
              </tr>
              <tr>
                <td>province</td>
                <td>35</td>
              </tr>
            </tbody>
          </table>
          <div class="sectionheader">THIS SESSION</div>
          <table class="table table-striped table-sm">
            <thead class="thead-light">
              <tr>
                <th>type</th>
                <th>count</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>settlement</td>
                <td>12</td>
              </tr>
              <tr>
                <td>province</td>
                <td>0</td>
              </tr>
            </tbody>
          </table>        
          </div>
        </div>
        <hr/>
        <!--<form>-->
          <!--<div class="form-group">-->
            <!--<label for="tags">Tags</label>-->
            <!--<input type="text" class="form-control" id="tags">-->
          <!--</div>-->
        <!--</form>    -->
        <div class="options" align="center">
          <button id="btn_download" type="button" class="bg-success btn btn-secondary btn-sm">
            Download {% fa5_icon 'file-download' 'fas' %}</button>
        </div>      
        <!--<p><a href="{ url ':dl-project' id=projid %}"></p>-->
      </div>
    </div> <!-- sidebar -->
  </div>
</div>

<script type="text/javascript">
  $(function(){
    // assign variables to some elements
    project_select = $("#project_select")
    map_select = $("#map_select")
    div_map_select = $("#div_map_select")
    scope_btns = $('input[type=radio][name=scope]')
    poly = true

    $('#draw_tabs_ul a').on('click', function (e) {
      e.preventDefault()
      $(this).tab('show')
    })    
    // get project and map records
    $.ajax({ url: '/draw/fetch_projects/' }).done(function(data){
      <!--console.log('projects & maps',data)-->
      projdata = data;
      $.each(data.projects, function (i, p) {
        <!--console.log('proj',p)-->
        $(project_select).append($('<option>', { 
            value: p.label,
            text : p.title 
        }));
      });
    })
    
    // choose project from dropdown
    project_select.on('change',function(){
      <!--projid = parseInt($(this).val())-->
      proj = $(this).val()
      <!--console.log('proj: '+proj)-->
      clearMap()
      // clear options
      $(map_select).html('')
      // write select options to dom, display map_select dropdown 
      maps = projdata.maps.filter(function (el) {
        return el.proj_label == proj;
      });
      <!--console.log('maps',maps)-->
      $(map_select).append('<option value="0">Select a map</option>')
      $.each(maps, function (i, map) {
        <!--console.log('map',map)-->
        $(map_select).append($('<option>', { 
            value: map.id,
            text : map.label 
        }));
      });
      div_map_select.show(400)
    })
    
    // clear current, load tileset
    // TODO: set max extent per map
    map_select.on('change',function(){
      if($(".leaflet-draw.leaflet-control").length == 0){
        drawControls(drawnLayers) 
      }
      $("#scope_btns").removeClass('hidden')
      $("#slider").removeClass('hidden')
      clearMap()
      mapid = parseInt($(this).val())
      maplabel = parseInt($(this).text())
      scope_btns[0].checked = true
      console.log('load map ',mapid)
      if (mapid != 0) {
        map = maps.find( ({ id }) => id === mapid )
        opt={'proj':map.proj_label,'map':map.label,'extent':map.bounds,
        'minzoom':map.minzoom,'maxzoom':map.maxzoom,'zoom':map.minzoom}
        addLayer(opt)
      }
      loadGeodata(map.proj_id,mapid)
    })
    // filter features (all/this map)
    scope_btns.change(function(){
      scope = $(this).val()
      <!--console.log($(this))-->
      if (scope == 'this') {
        for(x in others){mappy.removeLayer(idToFeature[others[x]])}
      } else {
        for(x in others){mappy.addLayer(idToFeature[others[x]])}
      }
    })

  })
  function get_counts(data) {
    counts={"points":0,"lines":0,"polygons":0}
    // TODO: fill those counters
    return counts  
  }
  
  function toggle_names(){
    $("#names").toggle("slow")
  }
  // load data on change of map selector
  function loadGeodata(proj_id,map_id) {
    $.get('/names', {mapid: map_id},
      function(names){
        <!--console.log('loadGeodata() names', names)-->
        name_list = []
        names_html = ''
        for (var i = 0; i < names.length; i++){
          name_list.push(names[i])
          names_html+=names[i]+'; '
        }
        $('#names').html(names_html)
        $("#names_in").autocomplete({
          source: name_list
        });
      }
    )
    <!--console.log('in loadGeodata: proj_id, mapid',proj_id,map_id)-->
    $.get("/api/geoms", {projid: proj_id, mapid: map_id },
      function(data){
        <!--console.log('loadGeodata() data',data)-->
        geom = {  "type":"FeatureCollection",
                  "features":[],
                  "properties":{"counts":get_counts(data.results)}}
        geom['features'] = data.results
        geom['properties']['counts']
        if(geom.features.length < 15000) {
          renderMap(geom)
        } else {
          <!--spinner.stop()-->
          $(".toomany").html('too many features to map (> '+geom.features.length+'), sorry!')
        }
    })
  }
  function findFeat(leafid) {
    // console.log('findfeat()',leafid)
    feat=drawnFeatures.find(function(v){
      return v['properties']['leaflet_id'] === leafid});
    return feat;
  }
  <!--opt={'proj':'bregel','map':'bregel32','extent':[39.4561, 28.7050, 103.3968, 60.4308],-->
        <!--'minzoom':4,'maxzoom':10,'zoom':4}-->
  function addLayer(opt){
    <!--url = `http://localhost:8181/${opt.proj}/${opt.map}/{z}/{x}/{y}.png`;-->
    url = `http://whgazetteer.org/tiles/${opt.proj}/${opt.map}/{z}/{x}/{y}.png`;
    layer = L.tileLayer(url,{'mapExtent':opt.extent,'minZoom':opt.minzoom,
      'maxZoom':opt.maxzoom, 'zoom':opt.zoom, 'pane':'tilelayers'});
    var extent = layer.options.mapExtent
    var bounds = new L.LatLngBounds(
      new L.LatLng(extent[1], extent[0]),
      new L.LatLng(extent[3], extent[2]));
    mappy.addLayer(layer)
    'zoom' in layer.options?mappy.setView(bounds.getCenter(), layer.options.zoom):mappy.fitBounds(bounds)
  }
  styles = {
    'marker_default': {
      fillColor: "#ff0000",
      color:"#ff0000",
      radius:4,
      weight:1,
      fillOpacity:0.5,
      opacity:0.5},
    'marker_other': {
      fillColor: "yellow",
      color:"#ff0000",
      radius:3,
      weight:1,
      fillOpacity:0.5,
      opacity:0.5},
    'marker_highlight': {
      radius:10,fillOpacity:1,fillColor:"yellow",color:"#000"},
    'line_default':{
      weight:3,
      opacity:1,
      color: "#00ccff"},
    'line_highlight':{weight: 4, color:"yellow"},
    'pgon_default':{
      fillColor: "#ff0000",
      color:"#fff",
      weight:2,
      fillOpacity:0.1,
      opacity:1},
    'pgon_highlight':{
      fillOpacity:1,fillColor:"yellow",color:"#000"}
  }
  
  function styleFunc(feature){
    <!--console.log('in styleFunc()')-->
    markerStyle =  {
      fillColor: "#ff0000",
      color:"#333",
      radius:5,
      weight:1,
      fillOpacity:0.5,
      opacity:0.5}
      
    if(feature.properties.map_id != mapid){
      markerStyle['fillColor'] = "green"
      markerStyle['radius'] = 4
    }
    if(feature.geometry.type == 'LineString'){
      markerStyle['color'] = "green"
      markerStyle['weight'] = 2
    }
            
    return markerStyle
  }
  
  
  function renderMap(geom){
    <!--console.log('dslabel, geom in renderMap()',screen,geom)-->
    <!--console.log('renderMap() geom',geom)-->
    if (geom.features.length==0) {
      <!--console.log('no features yet')-->
      <!--spinner.stop()-->
    } else {
      geomtype = geom.features[0]['type']
      <!--clear out the previous if any-->
      if(typeof(features)!=='undefined'){
        mappy.removeLayer(features)
      }
      idToFeature = {}  // for layer lookup by fid
      others=[]; polygons = []
      features = L.geoJSON(geom, {
        <!--style: styler(geomtype),-->
        pointToLayer: function (feature, latlng) {
          <!--console.log('feature in renderMap()',feature)-->
          fid = feature.fid
          name = feature.properties.names[0]['toponym']
          placetype = feature.properties.placetype
          <!--console.log('matchid',matchid)-->
          marker = L.circleMarker(latlng).bindPopup(
            'id: '+fid+'<br/>'+'name: '+name+'<br/>'+'type: '+placetype);
          idToFeature[fid] = marker
          return marker
        }
        ,style: styleFunc
        ,onEachFeature: function(feature,layer) {
          f=feature; l=layer;
          <!--console.log('f,l in renderMap()',f,l)-->
          drawnFeatures.push(f)
          l.addTo(drawnLayers)
          l.bindPopup('id: '+f.fid+'<br/>'+'name: '+f.properties.names[0]['toponym']+'<br/>'+'type: '+
            f.properties.types[0]['identifier']);
          identifier = f.fid;
          l.setStyle(styleFunc(f))
          if (f.properties.map_id != mapid){
            others.push(identifier)
          }
          idToFeature[identifier] = layer
        }
      }) <!-- .addTo(mappy);-->
    }
    
    <!--mappy.on('zoomend', function() {-->
        <!--var currentZoom = mappy.getZoom();-->
        <!--<!--var myRadius = currentZoom*(1/2); //or whatever ratio you prefer-->-->
        <!--var myRadius = currentZoom*(1); //or whatever ratio you prefer-->
        <!--var myWeight = currentZoom*(1/5); //or whatever ratio you prefer-->
        <!--features.setStyle({radius: myRadius, weight: myWeight});-->
    <!--});-->
    
    if (geom['features'].length > 1 && geom['features'][0].type == 'Point') {
      <!--mappy.fitBounds(features.getBounds().pad(1))-->
      mappy.fitBounds(features.getBounds())
    } else if (geom['features'].length > 0){
      feat0 = geom['features'][0]
      if (feat0.type == 'Point') {
        latlng = L.latLng(
          feat0.coordinates[1],
          feat0.coordinates[0])
        mappy.setView(latlng, 4)
      } else if (['LineString','Polygon'].includes(feat0.type)) {
        mappy.fitBounds(features.getBounds())
      }
    }
    <!--spinner.stop()-->
  }
  function clearMap(){
    $(".leaflet-tilelayers-pane").empty()
    drawnLayers.clearLayers()
    drawnFeatures = []
    polyFeatures = []
  }
  function drawControls(mode){
    var drawControl = new L.Control.Draw({
      draw: {
         rectangle: false,
         circle: false,
         marker: false
     },
      edit: {
         featureGroup: mode
      }
    });
    mappy.addControl(drawControl);
  }

  window.addEventListener('map:init', function (e) {
    window.mappy = e.detail.map

    var attrib_mb = 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
            '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
            'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
      attrib_awmc = 'Tiles and Data &copy; 2013 <a href="http://www.awmc.unc.edu" target="_blank">AWMC</a>',
      // mapbox
      token_mb = 'pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw',
      token_kg = 'pk.eyJ1Ijoia2dlb2dyYXBoZXIiLCJhIjoiUmVralBPcyJ9.mJegAI1R6KR21x_CVVTlqw',
      mbtiles_url = 'https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={token}',
      mbstyle_url = 'https://api.mapbox.com/styles/v1/{id}/tiles/256/{z}/{x}/{y}?access_token={token}';

      // mapbox layers
    var satellite  = L.tileLayer(mbstyle_url, {id:'mapbox/satellite-streets-v11', token:token_mb, attribution:attrib_mb})
      osm  = L.tileLayer(mbstyle_url, {id:'mapbox/light-v10', token:token_mb, attribution:attrib_mb}),
      awmc = L.tileLayer(mbtiles_url, {id:'isawnyu.map-knmctlkh', token:token_kg, attribution:attrib_awmc}),


    // leaflet layers/markers
    drawnLayers = L.featureGroup().addTo(mappy)
    <!--drawControls(drawnLayers)-->

    // geojson gets pushed in here as drawn; also deleted
    drawnFeatures = []
    polyFeatures = []

    var baseLayers = {
      "OpenStreetmap": osm,
      "AWMC Terrain": awmc,
      "Satellite": satellite
    };
    var overlays = {
      "Drawn features": drawnLayers
    }

    layerGroup = L.control.layers(baseLayers,overlays).addTo(mappy);
    baseLayers['OpenStreetmap'].addTo(mappy)
  }, false);

  popupNewForm =
    '<div><form id="popupform"><p>Name(s): <input type="text" id="names_in" name="names" class="ui-autocomplete-input" autocomplete=on></p> \
      <p><button id="btn_save" type="submit" class="btn btn-primary btn-sm"> \
      Save it</button></p></form></div>';
  function toWKT(layer) {
      var lng, lat, coords = [];
      if (layer instanceof L.Polygon || layer instanceof L.Polyline) {
          var latlngs = layer.getLatLngs();
          for (var i = 0; i < latlngs.length; i++) {
              latlngs[i]
              coords.push(latlngs[i].lng + " " + latlngs[i].lat);
              if (i === 0) {
                  lng = latlngs[i].lng;
                  lat = latlngs[i].lat;
              }
      };
          if (layer instanceof L.Polygon) {
              return "POLYGON((" + coords.join(",") + "," + lng + " " + lat + "))";
          } else if (layer instanceof L.Polyline) {
              return "LINESTRING(" + coords.join(",") + ")";
          }
      } else if (layer instanceof L.Marker) {
          return "POINT(" + layer.getLatLng().lng + " " + layer.getLatLng().lat + ")";
      }
  }
  <!--<p>Type: <input type="text" id="type_in" name="type" value="'+feat['properties']['type']+'"> </p>\-->
  function popupEditForm(feat) {
    html = '<div><form id="popupeditform"><p>Name(s): <input type="text" id="names_in"  \
      name="names" value="'+feat['properties']['names']+'"></p> \
      <input type="text" name="lid" value="'+feat['properties']['leaflet_id']+'">\
      </form><p><button id="btn_edit" type="text" class="btn btn-primary btn-sm"> \
      Save</button></p></div>';
    return html;
  }
  // delete json feature in db on layer delete
  function deleteFeature(fid){
    <!--console.log('token','{{ csrf_token }}')-->
    console.log('deleting fid',fid)
    $.ajax({
        type: 'POST',
        url: 'feature_delete/',
        data: "csrfmiddlewaretoken="+ '{{ csrf_token }}' +"&fid="+fid,
        cache: false,
        success: function(result){
          console.log('deleteFeature() result',JSON.stringify(result))
        }
      })
  }

  // updates json feature in drawnFeatures and db on EDITED
  function updateFeature(newfeat){
    <!--console.clear()-->
    console.log('edited feat in js updateFeature()',newfeat)
    var formData = new FormData();
    formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
    formData.append('mapid', $("#map_select").val())
    formData.append('user','{{ user }}')
    formData.append('jsonb', JSON.stringify(newfeat))

    $.ajax({
      type: 'POST',
      enctype: 'multipart/form-data',
      url: 'feature_update/',
      processData: false,
      contentType: false,
      cache: false,
      data: formData,
      success:function(result){
        // returning success or failure message
        <!--if(result['errors'][0]=='no map selected') {-->
          <!--drawnlayer.removeFrom(mappy)-->
          <!--alert('Please select a project and map before creating features')-->
          <!--// cancel the draw to drop marker from cursor-->
          <!--$(".leaflet-draw-actions a")[0].click()-->
        <!--}-->
        <!--console.log('updateFeature() result:',result)-->
      }   
    })
  }
  
  // create json feature in db
  function createFeature(feat){
    <!--console.log('feat in createFeature()',feat)-->
    var formData = new FormData();
    formData.append('csrfmiddlewaretoken', '{{ csrf_token }}')
    formData.append('mapid', $("#map_select").val())
    formData.append('placetypes',$("input[ftype]:checked").val())
    formData.append('user','{{ user }}')
    formData.append('jsonb', JSON.stringify(feat))

    $.ajax({
      type: 'POST',
      enctype: 'multipart/form-data',
      url: 'feature_create/',
      processData: false,
      contentType: false,
      cache: false,
      data: formData,
      success:function(result){
        // returning counts by type: total & this session
        // TODO: also 'Your total'?
        if(result['errors'][0]=='no map selected') {
          drawnlayer.removeFrom(mappy)
          alert('Please select a project and map before creating features')
          // cancel the draw to drop marker from cursor
          $(".leaflet-draw-actions a")[0].click()
        }
        <!--console.log('data returned from createFeature()',result)-->
      }   
    })
  };
   
  function map_init (map, options) {
    // initial
    mappy.setView(L.latLng(35.72, -5.295), 2)
    mappy.createPane('tilelayers').style.zIndex = 200
    // maintain drawnLayers (leaflet) & drawnFeatures (geojson)
    // feature property 'names' added w/popup form
    
    mappy.on(L.Draw.Event.CREATED, function (event) {
      e = event
      <!--console.log('name_list, CREATED event',name_list,e)-->
      layer_type = e.layerType
      // get current feature type
      types = $("input[name=placetype]:checked").val().split(',')
      window.drawnlayer = event.layer;
      <!--console.log('drawnlayer,ftype',drawnlayer,ftype)-->
      drawnlayer.bindPopup(popupNewForm)
      drawnLayers.addLayer(drawnlayer)
      drawnLayers.addTo(mappy)
      drawnlayer.openPopup()
      
      $("#names_in").focus()

      // make geojson immediately, add _leaflet_id
      feat = drawnlayer.toGeoJSON()
      feat['properties']['leaflet_id'] = drawnlayer._leaflet_id
      feat['properties']['names'] = []
      feat['properties']['types'] = []
      feat['properties']['map_id'] = mapid
      <!--console.log('CREATE feat -> drawnFeatures[]',feat)-->
      drawnFeatures.push(feat)
      
      // save it immediately      
      // adding names and types to geojson
      $("#popupform").submit(function(e){
        e.preventDefault();
        // console.log('last feature',findFeat(drawnlayer._leaflet_id));
        feat = findFeat(drawnlayer._leaflet_id)
        names = $("#names_in").val().split(',');
        names.forEach(function(n){
          feat['properties']['names'].push({"toponym":n});
        })
        // identifier, label, sourceLabels, when
        types.forEach(function(t){
          feat['properties']['types'].push({"identifier":t})
        })
        <!--if(map.when_constant){console.log(map.when)}-->
        mapobj = maps.find( ({ id }) => id === mapid )
        <!--console.log(mapobj)-->
        if(mapobj.when_constant){feat['when']=mapobj.when}
        
        <!--console.log('props',feat['properties']);-->
        drawnlayer.unbindPopup()
        mappy.closePopup()        
        drawnlayer.bindPopup('names: '+names+' types: '+types)
        //             
        <!--console.log('written feature',feat)-->
        // write a Feature instance to db
        createFeature(feat)
        $(".leaflet-draw-draw-"+layer_type)[0].click()
      });
    });

    mappy.on(L.Draw.Event.EDITED, function (event) {
      e = event
      console.log('EDITED event',e)

      // leaflet_id of clicked layer 
      layerid = Number(Object.keys(e.layers._layers)[0]);

      console.log('feat coords before',feat.geometry.coordinates)

      // get new geometry
      newgeom = drawnLayers._layers[layerid].toGeoJSON().geometry
      // replace in feat
      feat.geometry = newgeom

      console.log('feat coords after',feat.geometry.coordinates)

      // update database 
      updateFeature(feat)
      $(".leaflet-draw-draw-circlemarker").click()
    });

    mappy.on(L.Draw.Event.DELETED, function (event) {
      <!--console.clear()-->
      e = event
      console.log('DELETED event',e)
      layerid = Number(Object.keys(e.layers._layers)[0]);
      // db feature id of layer clicked
      fid = e.layers._layers[layerid].feature.fid
      console.log('mappy on DELETE fid',fid)
      // strip it from json
      drawnFeatures = $.grep(drawnFeatures, function(el,idx){
        return el.properties.leaflet_id != layerid;
      })
      // need to delete it from db here
      deleteFeature(fid)
      drawnLayers.addTo(mappy);
    });  }
    
</script>
{% endblock %}
