<!-- main/home.html -->
{% extends "main/base.html" %}
{% load leaflet_tags %}
{% load fontawesome_5 %}
{% block title %}<title>lp.draw</title>{% endblock %}
{% block extra_head %}
  {% load static %}
  {% leaflet_js %}
  {% leaflet_css %}
  <script src="{% static 'js/FileSaver.min.js' %}"></script>
  <script src="{% static 'js/leaflet-draw/Leaflet.draw.js' %}"></script>
  <script src="{% static 'js/leaflet-draw/Leaflet.Draw.Event.js' %}"></script>
  <link rel="stylesheet" href="{% static 'js/leaflet-draw/leaflet.draw.css' %}"/>

  <script src="{% static 'js/leaflet-draw/Toolbar.js' %}"></script>
  <script src="{% static 'js/leaflet-draw/Tooltip.js' %}"></script>

  <script src="{% static 'js/leaflet-draw/ext/GeometryUtil.js' %}"></script>
  <script src="{% static 'js/leaflet-draw/ext/LatLngUtil.js' %}"></script>
  <script src="{% static 'js/leaflet-draw/ext/LineUtil.Intersect.js' %}"></script>
  <script src="{% static 'js/leaflet-draw/ext/Polygon.Intersect.js' %}"></script>
  <script src="{% static 'js/leaflet-draw/ext/Polyline.Intersect.js' %}"></script>
  <script src="{% static 'js/leaflet-draw/ext/TouchEvents.js' %}"></script>

  <script src="{% static 'js/leaflet-draw/draw/DrawToolbar.js' %}"></script>
  <script src="{% static 'js/leaflet-draw/draw/handler/Draw.Feature.js' %}"></script>
  <script src="{% static 'js/leaflet-draw/draw/handler/Draw.SimpleShape.js' %}"></script>
  <script src="{% static 'js/leaflet-draw/draw/handler/Draw.Polyline.js' %}"></script>
  <script src="{% static 'js/leaflet-draw/draw/handler/Draw.Marker.js' %}"></script>
  <script src="{% static 'js/leaflet-draw/draw/handler/Draw.Circle.js' %}"></script>
  <script src="{% static 'js/leaflet-draw/draw/handler/Draw.CircleMarker.js' %}"></script>
  <script src="{% static 'js/leaflet-draw/draw/handler/Draw.Polygon.js' %}"></script>
  <script src="{% static 'js/leaflet-draw/draw/handler/Draw.Rectangle.js' %}"></script>

  <script src="{% static 'js/leaflet-draw/edit/EditToolbar.js' %}"></script>
  <script src="{% static 'js/leaflet-draw/edit/handler/EditToolbar.Edit.js' %}"></script>
  <script src="{% static 'js/leaflet-draw/edit/handler/EditToolbar.Delete.js' %}"></script>

  <script src="{% static 'js/leaflet-draw/Control.Draw.js' %}"></script>

  <script src="{% static 'js/leaflet-draw/edit/handler/Edit.Poly.js' %}"></script>
  <script src="{% static 'js/leaflet-draw/edit/handler/Edit.SimpleShape.js' %}"></script>
  <script src="{% static 'js/leaflet-draw/edit/handler/Edit.Rectangle.js' %}"></script>
  <script src="{% static 'js/leaflet-draw/edit/handler/Edit.Marker.js' %}"></script>
  <script src="{% static 'js/leaflet-draw/edit/handler/Edit.CircleMarker.js' %}"></script>
  <script src="{% static 'js/leaflet-draw/edit/handler/Edit.Circle.js' %}"></script>

  <script src="{% static 'js/leaflet.ajax.min.js' %}"></script>
  <style>
    #map {
      position:relative; top:0; bottom:0; left:0; height:calc(90vh);
      width: calc(100% - 200px); z-index: 1000; background:aliceblue;
    }
    #map_home.leaflet-container {height:100%;)}
    /* #map { position:absolute; top:0; bottom:0; width:100%; z-index: 1; } */
    #sidebar { position:relative; right:0; top:0; overflow-x: hidden; overflow-y: auto;
      padding: 8px; z-index: 1450; background: #f8f8f8; width:200px;}
    #slider{ position: absolute; top: 10px; right: 10px; z-index: 5; }
    .metadata {position: absolute; background:ivory; bottom:0; height:130px;
      margin-left:-8px; font-size:smaller; width: 100%; padding: 8px;
      border-top: 1px solid #ddd;}
    .table-sm {font-size: .8rem;}
    .sectionheader {font-size: .6rem; color: #993333;}
  </style>
{% endblock %}
{% block content %}
<div class="container mt-2">
  <div class="row">
    <div id="map">{% leaflet_map "map_home" callback="map_init" %}</div>
    <div id="sidebar" class="">
      <h5>Project</h5>
        <div class="form-group">
          <select id="project_select" class="form-control custom-select-sm">
            <option value="0" selected>Select project</option>
            <option value="1">18-19c France</option>
            <option value="2">LatAm:Argentina</option>
            <option value="3">Bregel Atlas</option>
          </select>
        </div>
      <h5>Map</h5>
      <div class="form-group">
          <select id="map_select" class="form-control custom-select-sm hidden">
            <option value="0" selected>Select map</option>
            <option value="1">Colton (1879)</option>
            <option value="2">Arrowsmith (1810)</option>
            <option value="3">Map #6 (p.12)</option>
          </select>
      </div>
      <hr/>
      <div class="stats">
        <div class="divheader"><h5>Stats</h5></div>
        <div class="sectionheader">TO DATE</div>
        <table class="table table-striped table-sm">
          <thead class="thead-light">
            <tr>
              <th>type</th>
              <th>count</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>settlement</td>
              <td>452</td>
            </tr>
            <tr>
              <td>province</td>
              <td>35</td>
            </tr>
          </tbody>
        </table>
        <div class="sectionheader">THIS SESSION</div>
        <table class="table table-striped table-sm">
          <thead class="thead-light">
            <tr>
              <th>type</th>
              <th>count</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>settlement</td>
              <td>12</td>
            </tr>
            <tr>
              <td>province</td>
              <td>0</td>
            </tr>
          </tbody>
        </table>
      </div>
      <hr/>
      <div class="options" align="center">
        <button id="btn_download" type="button" class="bg-success btn btn-secondary btn-sm">
            Download {% fa5_icon 'file-download' 'fas' %}</button>
        <button id="btn_save" type="button" class="btn btn-primary btn-sm">
            Save</button>
      </div>
      <!-- <div class="metadata">
        <p>(Composite Map) Map Exhibiting the Great Post Roads, Physical and Political Divisions of Europe from Original Materials Collected from the Different Countries Delineated by A. Arrowsmith MDCCCX. London Published 2nd. Jany. 1810, by A. Arrowsmith No. 10 Soho Square, Hydrographer to H.R.H. The Prince of Wales. </p>
      </div> -->
    </div>
  </div>
</div>

<script type="text/javascript">
  // load data on change of map selector
  function loadGeodata(proj_id,map_id) {
    $.get("/api/geoms", {proj: proj_id, map: map_id },
      function(data){
        // update counts in UI
        <!--$("#feature_count").html(data.count+' geometries for {{ ds.numrows }} records')-->
        geom = {"type":"FeatureCollection","features":[]}
        geom['features'] = data.results
        if(geom.features.length < 15000) {
          renderMap(geom)
        } else {
          alert(geom.features.length + ' features -- too many to map!')
          <!--spinner.stop()-->
          <!--$(".toomany").html('too many features to map (> '+geom.features.length+'), sorry!')-->
        }
    })    
  }
  function findFeat(leafid) {
    // console.log('findfeat()',leafid)
    feat=drawnFeatures.find(function(v){
      return v['properties']['leaflet_id'] === leafid});
    return feat;
  }
  $(function(){
    // assign variables to some controls
    project_select = $("#project_select")
    map_select = $("#map_select")
    // populate proj_select
    <!--$.get()-->
    // listeners
    project_select.on('change',function(){
      console.log('proj #', $(this).val())
      if (project_select.val() >0 ) {
        // populate map_select
        map_select.removeClass('hidden')
        // display it
      }
    })
    map_select.on('change',function(){
      console.log('map #', $(this).val())
      // a project is selected
      if (project_select.val() > 0) {
        console.log('will run loadGeodata() for map #',$(this).val())
        <!--loadGeodata($(this).val())      -->
      } else { alert('please select a project')}
    })
    
  })

  function drawControls(mode){
    var drawControl = new L.Control.Draw({
      draw: {
         rectangle: false,
         circle: false,
         marker: false
     },
      edit: {
         featureGroup: mode
      }
    });
    mappy.addControl(drawControl);
  }

  window.addEventListener('map:init', function (e) {
    window.mappy = e.detail.map
    var attrib_mb = 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
            '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
            'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
      attrib_awmc = 'Tiles and Data &copy; 2013 <a href="http://www.awmc.unc.edu" target="_blank">AWMC</a>',
      mbtiles_url = 'https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={token}';
      mb_awmc = 'pk.eyJ1Ijoia2dlb2dyYXBoZXIiLCJhIjoiY2prcmgwc2cwMjRuZzNsdGhzZmVuMDRqbCJ9.MeLsyeOqwhTRdvt_Hgo7kg',
      mb_new = 'https://api.mapbox.com/styles/v1/kgeographer/ck6i6861h01as1inz2akfegyb/tiles/256/{z}/{x}/{y}@2x?access_token=pk.eyJ1Ijoia2dlb2dyYXBoZXIiLCJhIjoiUmVralBPcyJ9.mJegAI1R6KR21x_CVVTlqw',
      mb_token = 'pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw',
      awmc = L.tileLayer(mbtiles_url, {id:'isawnyu.map-knmctlkh', token:mb_awmc, attribution:attrib_awmc}),
      satellite  = L.tileLayer(mbtiles_url, {id:'mapbox.satellite', token:mb_token, attribution:attrib_mb}),
      arrowsmith1810  = L.tileLayer(mb_new);

    // leaflet layers/markers
    drawnLayers = L.featureGroup().addTo(mappy)
    drawControls(drawnLayers)

    // geojson gets pushed in here as drawn; also deleted
    drawnFeatures = []

    var baseLayers = {
      "AWMC Terrain": awmc,
      "Satellite": satellite
    };
    var overlays = {
      "Arrowsmith": arrowsmith1810,
      "Drawn features": drawnLayers
    }

    layerGroup = L.control.layers(baseLayers,overlays).addTo(mappy);
    baseLayers['AWMC Terrain'].addTo(mappy)
  }, false);

  
  popupNewForm =
    '<div><form id="popupform"><p>Name: <input type="text" id="name_in" name="name" value=""></p> \
      <p>Type: <input type="text" id="type_in" name="type" value=""> </p>\
      <p><button id="btn_save" type="submit" class="btn btn-primary btn-sm"> \
      Save</button></p></form></div>';

  function popupEditForm (feat) {
    html = '<div><form id="popupeditform"><p>Name: <input type="text" id="name_in"  \
      name="name" value="'+feat['properties']['name']+'"></p> \
      <input type="text" name="lid" value="'+feat['properties']['leaflet_id']+'">\
      <p>Type: <input type="text" id="type_in" name="type" value="'+feat['properties']['type']+'"> </p>\
      </form><p><button id="btn_edit" type="text" class="btn btn-primary btn-sm"> \
      Save</button></p></div>';
    return html;
  }
  function createFeature(feat){
    console.log('feat in createFeature()',feat)
    var formData = new FormData();
    formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
    formData.append('mapid',$("#map_select").val())
    formData.append('user','{{ user }}')
    formData.append('jsonb', JSON.stringify(feat))
    
    $.ajax({
      type: 'POST',
      enctype: 'multipart/form-data',
      url: 'feature_create/',
      processData: false,
      contentType: false,
      cache: false,
      data: formData,
      success:function(result){
        // returning counts by type: total & this session
        // TODO: also 'Your total'?
        console.log('data returned from createFeature()',result)
      }   
    })
  };
   
  function map_init (map, options) {
    maps = {
      1:{'label':'foo'},
      2:{'label':arrowsmith1810,'center':L.latLng(48.7028, -0.6582),'zoom':6},
      3:{'label':'bar'}
    }
    // arrowsmith 48.7028, -0.6582
    <!--not here -->
    <!--var active = maps[$("#map_select").val()]-->
    <!--active['label'].addTo(mappy)-->
    <!--mappy.setView(active['center'],active['zoom'])-->
    mappy.setView(L.latLng(48.7028, -0.6582),6)
    // maintain drawnLayers (leaflet) & drawnFeatures (geojson)
    // feature properties 'name', 'type' added w/popup form
    mappy.on(L.Draw.Event.CREATED, function (event) {
      window.drawnlayer = event.layer;
      // console.log('drawnlayer',drawnlayer)
      drawnlayer.bindPopup(popupNewForm)
      drawnLayers.addLayer(drawnlayer);
      drawnLayers.addTo(mappy)
      drawnlayer.openPopup()
      $("#name_in").focus()

      // make geojson immediately, add _leaflet_id
      feat = drawnlayer.toGeoJSON()
      feat['properties']['leaflet_id'] = drawnlayer._leaflet_id
      drawnFeatures.push(feat)
      
      // add name and type to geojson
      $("#popupform").submit(function(e){
        e.preventDefault();
        // console.log('last feature',findFeat(drawnlayer._leaflet_id));
        var feat = findFeat(drawnlayer._leaflet_id)
        var name = $("#name_in").val();
        var type = $("#type_in").val();
        feat['properties']['name'] = name;
        feat['properties']['type'] = type;
        // console.log('props',feat['properties']);
        drawnlayer.unbindPopup()
        mappy.closePopup()        
        drawnlayer.bindPopup('name: '+name+' type: '+type)

        // ajax to write a Feature instance
        createFeature(feat)
        $(".leaflet-draw-draw-circlemarker")[0].click()
      });
    });

    mappy.on(L.Draw.Event.EDITED, function (event) {
      var feat = findFeat(drawnlayer._leaflet_id)
      editedlayer=drawnlayer.toGeoJSON()
      // replace geometry in geojson with latest
      console.log('from',feat['geometry'])
      feat['geometry'] = editedlayer['geometry']
      console.log('to',feat['geometry'])
      $(".leaflet-draw-draw-circlemarker").click()
    });

    mappy.on(L.Draw.Event.DELETED, function (event) {
      // id of feature clicked
      lid = Number(Object.keys(event.layers._layers)[0]);
      // strip it
      drawnFeatures = $.grep(drawnFeatures, function(el,idx){
        return el.properties.leaflet_id != lid;
      })
      drawnLayers.addTo(mappy);
    });
  }

</script>
{% endblock %}
