<!-- main/home.html -->
{% extends "main/base.html" %}
{% load leaflet_tags %}
{% load fontawesome_5 %}
{% block title %}<title>lp.draw</title>{% endblock %}
{% block extra_head %}
  {% load static %}
  {% leaflet_js %}
  {% leaflet_css %}
  <script src="{% static 'js/FileSaver.min.js' %}"></script>
  <script src="{% static 'js/leaflet-draw/Leaflet.draw.js' %}"></script>
  <script src="{% static 'js/leaflet-draw/Leaflet.Draw.Event.js' %}"></script>
  <link rel="stylesheet" href="{% static 'js/leaflet-draw/leaflet.draw.css' %}"/>

  <script src="{% static 'js/leaflet-draw/Toolbar.js' %}"></script>
  <script src="{% static 'js/leaflet-draw/Tooltip.js' %}"></script>

  <script src="{% static 'js/leaflet-draw/ext/GeometryUtil.js' %}"></script>
  <script src="{% static 'js/leaflet-draw/ext/LatLngUtil.js' %}"></script>
  <script src="{% static 'js/leaflet-draw/ext/LineUtil.Intersect.js' %}"></script>
  <script src="{% static 'js/leaflet-draw/ext/Polygon.Intersect.js' %}"></script>
  <script src="{% static 'js/leaflet-draw/ext/Polyline.Intersect.js' %}"></script>
  <script src="{% static 'js/leaflet-draw/ext/TouchEvents.js' %}"></script>

  <script src="{% static 'js/leaflet-draw/draw/DrawToolbar.js' %}"></script>
  <script src="{% static 'js/leaflet-draw/draw/handler/Draw.Feature.js' %}"></script>
  <script src="{% static 'js/leaflet-draw/draw/handler/Draw.SimpleShape.js' %}"></script>
  <script src="{% static 'js/leaflet-draw/draw/handler/Draw.Polyline.js' %}"></script>
  <script src="{% static 'js/leaflet-draw/draw/handler/Draw.Marker.js' %}"></script>
  <script src="{% static 'js/leaflet-draw/draw/handler/Draw.Circle.js' %}"></script>
  <script src="{% static 'js/leaflet-draw/draw/handler/Draw.CircleMarker.js' %}"></script>
  <script src="{% static 'js/leaflet-draw/draw/handler/Draw.Polygon.js' %}"></script>
  <script src="{% static 'js/leaflet-draw/draw/handler/Draw.Rectangle.js' %}"></script>

  <script src="{% static 'js/leaflet-draw/edit/EditToolbar.js' %}"></script>
  <script src="{% static 'js/leaflet-draw/edit/handler/EditToolbar.Edit.js' %}"></script>
  <script src="{% static 'js/leaflet-draw/edit/handler/EditToolbar.Delete.js' %}"></script>

  <script src="{% static 'js/leaflet-draw/Control.Draw.js' %}"></script>

  <script src="{% static 'js/leaflet-draw/edit/handler/Edit.Poly.js' %}"></script>
  <script src="{% static 'js/leaflet-draw/edit/handler/Edit.SimpleShape.js' %}"></script>
  <script src="{% static 'js/leaflet-draw/edit/handler/Edit.Rectangle.js' %}"></script>
  <script src="{% static 'js/leaflet-draw/edit/handler/Edit.Marker.js' %}"></script>
  <script src="{% static 'js/leaflet-draw/edit/handler/Edit.CircleMarker.js' %}"></script>
  <script src="{% static 'js/leaflet-draw/edit/handler/Edit.Circle.js' %}"></script>

  <script src="{% static 'js/leaflet.ajax.min.js' %}"></script>
  <style>
    #map {
      position:relative; top:0; bottom:0; left:0; height:calc(90vh);
      width: calc(100% - 200px); z-index: 1000; background:aliceblue;
    }
    #map_home.leaflet-container {height:100%;)}
    #slider{ position: absolute; top: 25px; right: 70px; z-index: 400; }

    #sidebar { position:relative; right:0; top:0; overflow-x: hidden; overflow-y: auto;
      padding: 8px; z-index: 1450; background: #f8f8f8; width:200px;}
    .metadata {position: absolute; background:ivory; bottom:0; height:130px;
      margin-left:-8px; font-size:smaller; width: 100%; padding: 8px;
      border-top: 1px solid #ddd;}
    .table-sm {font-size: .8rem;}
    .sectionheader {font-size: .6rem; color: #993333;}
  </style>
{% endblock %}
{% block content %}
<div class="container mt-2">
  <div class="row">
    <div id="map">{% leaflet_map "map_home" callback="map_init" %}
    <input id="slider" type="range" class="hidden" min="0" max="1" step="0.1" value="1" oninput="layer.setOpacity(this.value)"></div>
    <div id="sidebar" class="">
      <div class="form-group">
        <h5>Project</h5>
          <select id="project_select" class="form-control custom-select-sm">
            <option value="0" selected>Select project</option>
          </select>
        </div>
      <div id="div_map_select" class="form-group hidden">
        <h5>Map</h5>
          <select id="map_select" class="form-control custom-select-sm">
            <option value="0" selected>Select map</option>
          </select>
      </div>
      <hr/>
      <div class="stats">
        <div class="divheader"><h5>Stats <span class="smaller"><a href="#">refresh</a></span></h5></div>
        <div class="sectionheader">TO DATE</div>
        <table class="table table-striped table-sm">
          <thead class="thead-light">
            <tr>
              <th>type</th>
              <th>count</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>settlement</td>
              <td>452</td>
            </tr>
            <tr>
              <td>province</td>
              <td>35</td>
            </tr>
          </tbody>
        </table>
        <div class="sectionheader">THIS SESSION</div>
        <table class="table table-striped table-sm">
          <thead class="thead-light">
            <tr>
              <th>type</th>
              <th>count</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>settlement</td>
              <td>12</td>
            </tr>
            <tr>
              <td>province</td>
              <td>0</td>
            </tr>
          </tbody>
        </table>
      </div>
      <hr/>
      <div class="options" align="center">
        <button id="btn_download" type="button" class="bg-success btn btn-secondary btn-sm">
            Download {% fa5_icon 'file-download' 'fas' %}</button>
        <!--<button id="btn_save" type="button" class="btn btn-primary btn-sm">-->
            <!--Save</button>-->
      </div>
      <!-- <div class="metadata">
        <p>(Composite Map) Map Exhibiting the Great Post Roads, Physical and Political Divisions of Europe from Original Materials Collected from the Different Countries Delineated by A. Arrowsmith MDCCCX. London Published 2nd. Jany. 1810, by A. Arrowsmith No. 10 Soho Square, Hydrographer to H.R.H. The Prince of Wales. </p>
      </div> -->
    </div>
  </div>
</div>

<script type="text/javascript">
  function get_counts(data) {
    counts={"points":0,"lines":0,"polygons":0}
    // TODO: fill those counters
    return counts  
  }
    
  // load data on change of map selector
  function loadGeodata(proj_id,map_id) {
    <!--console.clear()-->
    <!--console.log('in loadGeodata: proj_id, mapid',proj_id,map_id)-->
    $.get("/api/geoms", {projid: proj_id, mapid: map_id },
      function(data){
        console.log('loadGeodata() data',data)
        geom = {  "type":"FeatureCollection",
                  "features":[],
                  "properties":{"counts":get_counts(data.results)}}
        geom['features'] = data.results
        geom['properties']['counts']
        if(geom.features.length < 15000) {
          renderMap(geom)
        } else {
          <!--spinner.stop()-->
          $(".toomany").html('too many features to map (> '+geom.features.length+'), sorry!')
        }
    })  
  }
  function findFeat(leafid) {
    // console.log('findfeat()',leafid)
    feat=drawnFeatures.find(function(v){
      return v['properties']['leaflet_id'] === leafid});
    return feat;
  }
  $(function(){
    // assign variables to some controls
    project_select = $("#project_select")
    map_select = $("#map_select")
    div_map_select = $("#div_map_select")
    
    // get project and map records
    $.ajax({ url: '/home/fetch_projects/' }).done(function(data){
      <!--console.log('projects & maps',data)-->
      projdata = data;
      $.each(data.projects, function (i, p) {
        <!--console.log('proj',p)-->
        $(project_select).append($('<option>', { 
            value: p.label,
            text : p.title 
        }));
      });
    })
    
    // populate map_select
    project_select.on('change',function(){
      <!--projid = parseInt($(this).val())-->
      proj = $(this).val()
      console.log('proj: '+proj)
      clearMap()
      // clear options
      $(map_select).html('')
      // write select options to dom, display map_select dropdown 
      <!--maps = [projdata.maps.find( ({ project }) => project === projid )]-->
      maps = projdata.maps.filter(function (el) {
        <!--return el.project == projid;-->
        return el.proj_label == proj;
      });
      <!--console.log('maps',maps)-->
      <!--items = projdata['maps']-->
      $(map_select).append('<option value="0">Select a map</option>')
      $.each(maps, function (i, map) {
        <!--console.log('map',map)-->
        $(map_select).append($('<option>', { 
            value: map.id,
            text : map.label 
        }));
      });
      div_map_select.show(400)
    })
    
    // clear current, load tileset
    // TODO: set max extent per map
    map_select.on('change',function(){
      if($(".leaflet-draw.leaflet-control").length == 0){
        drawControls(drawnLayers) 
      }
      $("#slider").removeClass('hidden')
      clearMap()
      mapid = parseInt($(this).val())
      console.log('load map #'+mapid)
      if (mapid != 0) {
        map = maps.find( ({ id }) => id === mapid )
        
        opt={'proj':map.proj_label,'map':map.label,'extent':map.bounds,
        'minzoom':map.minzoom,'maxzoom':map.maxzoom,'zoom':map.minzoom}
        console.log('opt',opt)
        addLayer(opt)
        <!--layer = eval(mapdict.label)-->
        <!--console.log('mapdict, layer',mapdict,layer)-->
        <!--var extent = layer.options.mapExtent-->
        <!--var bounds = new L.LatLngBounds(-->
          <!--new L.LatLng(extent[1], extent[0]),-->
          <!--new L.LatLng(extent[3], extent[2]));-->
        <!--mappy.addLayer(layer)-->
        <!--'zoom' in layer.options?mappy.setView(bounds.getCenter(), layer.options.zoom):mappy.fitBounds(bounds)-->

      }
      <!--loadGeodata(mapdict['project'],mapid)-->
      loadGeodata(map.proj_id,mapid)
    })
    
  })
  <!--opt={'proj':'bregel','map':'bregel32','extent':[39.4561, 28.7050, 103.3968, 60.4308],-->
        <!--'minzoom':4,'maxzoom':10,'zoom':4}-->
  function addLayer(opt){
    url = `http://localhost:8181/${opt.proj}/${opt.map}/{z}/{x}/{y}.png`;
    layer = L.tileLayer(url,{'mapExtent':opt.extent,'minZoom':opt.minzoom,
      'maxZoom':opt.maxzoom, 'zoom':opt.zoom, 'pane':'tilelayers'});
    var extent = layer.options.mapExtent
    var bounds = new L.LatLngBounds(
      new L.LatLng(extent[1], extent[0]),
      new L.LatLng(extent[3], extent[2]));
    mappy.addLayer(layer)
    'zoom' in layer.options?mappy.setView(bounds.getCenter(), layer.options.zoom):mappy.fitBounds(bounds)
  }
  styles = {
    'marker_default': {
      fillColor: "#ff0000",
      color:"#ff0000",
      radius:6,
      weight:1,
      fillOpacity:0.5,
      opacity:0.5},
    'marker_highlight': {
      radius:10,fillOpacity:1,fillColor:"yellow",color:"#000"
    },
    'line_default':{
      weight:3,
      opacity:1,
      color: "#00ccff"
    },
    'line_highlight':{weight: 4, color:"yellow"},
    'pgon_default':{
      fillColor: "#ff0000",
      color:"#fff",
      weight:2,
      fillOpacity:0.1,
      opacity:1},
    'pgon_highlight':{
      fillOpacity:1,fillColor:"yellow",color:"#000"
    }
  }

  function renderMap(geom){
    <!--console.log('dslabel, geom in renderMap()',screen,geom)-->
    console.log('renderMap() geom',geom)
    if (geom.features.length==0) {
      console.log('no features yet')
      <!--spinner.stop()-->
    } else {
      geomtype = geom.features[0]['type']
      <!--clear out the previous if any-->
      if(typeof(features)!=='undefined'){
        mappy.removeLayer(features)
      }
      idToFeature = {}  // for layer lookup by fid
      
      features = L.geoJSON(geom, {
        <!--style: styler(geomtype),-->
        pointToLayer: function (feature, latlng) {
          <!--console.log('feature in renderMap()',feature)-->
          fid = feature.fid
          name = feature.properties.name
          placetype = feature.properties.placetype
          <!--console.log('matchid',matchid)-->
          marker = L.circleMarker(latlng).setStyle(styles.marker_default).bindPopup('id: '+fid+'<br/>'+'name: '+name+'<br/>'+'type: '+placetype);
          idToFeature[fid] = marker
          return marker
        }
        ,onEachFeature: function(feature,layer) {
          f=feature; l=layer;
          <!--console.log('f,l in renderMap()',f,l)-->
          drawnFeatures.push(f)
          l.addTo(drawnLayers)
          l.bindPopup('id: '+f.fid+'<br/>'+'name: '+f.properties.name+'<br/>'+'type: '+f.properties.placetype);
          identifier = feature.fid;
          if(feature.type == 'LineString'){
            layer.setStyle(styles.line_default)
          } else if(feature.type == 'Polygon'){
            layer.setStyle(styles.pgon_default)
          }
          idToFeature[identifier] = layer
        }
      }) <!-- .addTo(mappy);-->
    }
    
    <!--mappy.on('zoomend', function() {-->
        <!--var currentZoom = mappy.getZoom();-->
        <!--<!--var myRadius = currentZoom*(1/2); //or whatever ratio you prefer-->-->
        <!--var myRadius = currentZoom*(1); //or whatever ratio you prefer-->
        <!--var myWeight = currentZoom*(1/5); //or whatever ratio you prefer-->
        <!--features.setStyle({radius: myRadius, weight: myWeight});-->
    <!--});-->
    
    if (geom['features'].length > 1 && geom['features'][0].type == 'Point') {
      <!--mappy.fitBounds(features.getBounds().pad(1))-->
      mappy.fitBounds(features.getBounds())
    } else if (geom['features'].length > 0){
      feat0 = geom['features'][0]
      if (feat0.type == 'Point') {
        latlng = L.latLng(
          feat0.coordinates[1],
          feat0.coordinates[0])
        mappy.setView(latlng, 4)
      } else if (['LineString','Polygon'].includes(feat0.type)) {
        mappy.fitBounds(features.getBounds())
      }
    }
    <!--spinner.stop()-->
  }
  function clearMap(){
    $(".leaflet-tilelayers-pane").empty()
    drawnLayers.clearLayers()
    drawnFeatures = []
  }
  function drawControls(mode){
    var drawControl = new L.Control.Draw({
      draw: {
         rectangle: false,
         circle: false,
         marker: false
     },
      edit: {
         featureGroup: mode
      }
    });
    mappy.addControl(drawControl);
  }

  window.addEventListener('map:init', function (e) {
    window.mappy = e.detail.map

    var attrib_mb = 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
            '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
            'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
      attrib_awmc = 'Tiles and Data &copy; 2013 <a href="http://www.awmc.unc.edu" target="_blank">AWMC</a>',
      mb_awmc = 'pk.eyJ1Ijoia2dlb2dyYXBoZXIiLCJhIjoiY2prcmgwc2cwMjRuZzNsdGhzZmVuMDRqbCJ9.MeLsyeOqwhTRdvt_Hgo7kg',

      // mapbox
      mb_token = 'pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw',
      mbtiles_url = 'https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={token}',

      satellite  = L.tileLayer(mbtiles_url, {id:'mapbox.satellite', token:mb_token, attribution:attrib_mb}),
      osm  = L.tileLayer(mbtiles_url, {id:'mapbox.light', token:mb_token, attribution:attrib_mb}),
      awmc = L.tileLayer(mbtiles_url, {id:'isawnyu.map-knmctlkh', token:mb_awmc, attribution:attrib_awmc})

      B32 = L.tileLayer('http://localhost:8181/bregel/bregel32/{z}/{x}/{y}.png',{
        'mapExtent':[39.45611030, 28.70507522, 103.39688562, 60.43081427],
        'minZoom':4, 'maxZoom':10, 'zoom': 4, 'pane':'tilelayers'
      });
      arrowsmith1810 = L.tileLayer('http://localhost:8181/france/arrowsmith1810/{z}/{x}/{y}.png',{
        'mapExtent':[-5.61314461, 44.99755790, 4.57197565, 52.23936858],
        'minZoom':5, 'maxZoom':11, 'pane':'tilelayers'
      });

    // leaflet layers/markers
    drawnLayers = L.featureGroup().addTo(mappy)
    <!--drawControls(drawnLayers)-->

    // geojson gets pushed in here as drawn; also deleted
    drawnFeatures = []

    var baseLayers = {
      "OpenStreetmap": osm,
      "AWMC Terrain": awmc,
      "Satellite": satellite
    };
    var overlays = {
      "Drawn features": drawnLayers
    }

    layerGroup = L.control.layers(baseLayers,overlays).addTo(mappy);
    baseLayers['OpenStreetmap'].addTo(mappy)
  }, false);

  
  popupNewForm =
    '<div><form id="popupform"><p>Name: <input type="text" id="name_in" name="name" value=""></p> \
      <p>Type: <input type="text" id="type_in" name="type" value=""> </p>\
      <p><button id="btn_save" type="submit" class="btn btn-primary btn-sm"> \
      Save</button></p></form></div>';
  function toWKT(layer) {
      var lng, lat, coords = [];
      if (layer instanceof L.Polygon || layer instanceof L.Polyline) {
          var latlngs = layer.getLatLngs();
          for (var i = 0; i < latlngs.length; i++) {
              latlngs[i]
              coords.push(latlngs[i].lng + " " + latlngs[i].lat);
              if (i === 0) {
                  lng = latlngs[i].lng;
                  lat = latlngs[i].lat;
              }
      };
          if (layer instanceof L.Polygon) {
              return "POLYGON((" + coords.join(",") + "," + lng + " " + lat + "))";
          } else if (layer instanceof L.Polyline) {
              return "LINESTRING(" + coords.join(",") + ")";
          }
      } else if (layer instanceof L.Marker) {
          return "POINT(" + layer.getLatLng().lng + " " + layer.getLatLng().lat + ")";
      }
  }
  function popupEditForm(feat) {
    html = '<div><form id="popupeditform"><p>Name: <input type="text" id="name_in"  \
      name="name" value="'+feat['properties']['name']+'"></p> \
      <input type="text" name="lid" value="'+feat['properties']['leaflet_id']+'">\
      <p>Type: <input type="text" id="type_in" name="type" value="'+feat['properties']['type']+'"> </p>\
      </form><p><button id="btn_edit" type="text" class="btn btn-primary btn-sm"> \
      Save</button></p></div>';
    return html;
  }
  // delete json feature in db on layer delete
  function deleteFeature(fid){
    console.log('token','{{ csrf_token }}')
    $.ajax({
        type: 'POST',
        url: 'feature_delete/',
        data: "csrfmiddlewaretoken="+ '{{ csrf_token }}' +"&fid="+fid,
        cache: false,
        success: function(result){
          console.log(JSON.stringify(result))
        }
      })
  }

  // updates json feature in drawnFeatures and db on EDITED
  function updateFeature(newfeat){
    <!--console.clear()-->
    console.log('newfeat in js updateFeature()',newfeat)
    var formData = new FormData();
    formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
    formData.append('mapid', $("#map_select").val())
    formData.append('user','{{ user }}')
    formData.append('jsonb', JSON.stringify(newfeat))

    $.ajax({
      type: 'POST',
      enctype: 'multipart/form-data',
      url: 'feature_update/',
      processData: false,
      contentType: false,
      cache: false,
      data: formData,
      success:function(result){
        // returning success or failure message
        <!--if(result['errors'][0]=='no map selected') {-->
          <!--drawnlayer.removeFrom(mappy)-->
          <!--alert('Please select a project and map before creating features')-->
          <!--// cancel the draw to drop marker from cursor-->
          <!--$(".leaflet-draw-actions a")[0].click()-->
        <!--}-->
        console.log('updateFeature() result:',result)
      }   
    })
  }
  
  // create json feature in db
  function createFeature(feat){
    console.log('feat in createFeature()',feat)
    var formData = new FormData();
    formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
    formData.append('mapid', $("#map_select").val())
    formData.append('user','{{ user }}')
    formData.append('jsonb', JSON.stringify(feat))

    $.ajax({
      type: 'POST',
      enctype: 'multipart/form-data',
      url: 'feature_create/',
      processData: false,
      contentType: false,
      cache: false,
      data: formData,
      success:function(result){
        // returning counts by type: total & this session
        // TODO: also 'Your total'?
        if(result['errors'][0]=='no map selected') {
          drawnlayer.removeFrom(mappy)
          alert('Please select a project and map before creating features')
          // cancel the draw to drop marker from cursor
          $(".leaflet-draw-actions a")[0].click()
        }
        console.log('data returned from createFeature()',result)
      }   
    })
  };
   
  function map_init (map, options) {
    // initial
    mappy.setView(L.latLng(35.72, -5.295), 2)
    mappy.createPane('tilelayers').style.zIndex = 200
    // maintain drawnLayers (leaflet) & drawnFeatures (geojson)
    // feature properties 'name', 'type' added w/popup form
    mappy.on(L.Draw.Event.CREATED, function (event) {
      window.drawnlayer = event.layer;
      // console.log('drawnlayer',drawnlayer)
      drawnlayer.bindPopup(popupNewForm)
      drawnLayers.addLayer(drawnlayer);
      drawnLayers.addTo(mappy)
      drawnlayer.openPopup()
      $("#name_in").focus()

      // make geojson immediately, add _leaflet_id
      feat = drawnlayer.toGeoJSON()
      console.log('feat in CREATE',feat)
      feat['properties']['leaflet_id'] = drawnlayer._leaflet_id
      drawnFeatures.push(feat)
      
      // save it immediately
      <!--createFeature(feat)-->
      
      // add name and type to geojson
      $("#popupform").submit(function(e){
        e.preventDefault();
        // console.log('last feature',findFeat(drawnlayer._leaflet_id));
        var feat = findFeat(drawnlayer._leaflet_id)
        var name = $("#name_in").val();
        var placetype = $("#type_in").val();
        feat['properties']['name'] = name;
        feat['properties']['placetype'] = placetype;
        // console.log('props',feat['properties']);
        drawnlayer.unbindPopup()
        mappy.closePopup()        
        drawnlayer.bindPopup('name: '+name+' type: '+placetype)

        // ajax to write a Feature instance
        createFeature(feat)
        $(".leaflet-draw-draw-circlemarker")[0].click()
      });
    });

    mappy.on(L.Draw.Event.EDITED, function (event) {
      e = event
      <!--console.log('event',e)-->
      // layer leaflet_id clicked
      layerid = Number(Object.keys(e.layers._layers)[0]);
      // associated feature id 
      fid = e.layers._layers[layerid].feature.fid
      console.log('layer:'+layerid+'; feature:'+fid)

      // selected feature as initially rendered
      feat = idToFeature[fid].feature
      console.log('pre-EDITED feature',feat)
      <!--// {type:"Feature",properties:{},geometry:{fid:<int>,name:"",placetype:"",coordinates:[}}-->
  
      // 
      newfeat = drawnLayers._layers[layerid].toGeoJSON()

      <!--ftype = feat.geometry.type-->
      <!--<!--console.log('ftype',ftype)-->-->
      <!--<!--lcoords=idToFeature[layerid].getLatLngs()-->-->
      <!--<!--lcoords = ftype=='Point' ? idToFeature[fid].getLatLng() : idToFeature[fid].getLatLngs()-->-->
      <!--wkt = toWKT(idToFeature[fid])-->
      <!--newfeat = idToFeature[fid].toGeoJSON()-->
      <!--console.log('newfeat',newfeat)-->
      
      // update geometry from layer
      <!--feat['geometry']['coordinates'] = parseCoords(ftype, lcoords)-->

      // update database copy
      updateFeature(newfeat)
      $(".leaflet-draw-draw-circlemarker").click()
    });

    mappy.on(L.Draw.Event.DELETED, function (event) {
      console.clear()
      e = event
      layerid = Number(Object.keys(e.layers._layers)[0]);
      // feature id of layer clicked
      fid = e.layers._layers[layerid].feature.geometry.fid
      console.log('fid',fid)
      // strip it from json
      drawnFeatures = $.grep(drawnFeatures, function(el,idx){
        return el.properties.leaflet_id != layerid;
      })
      // need to delete it from db here
      deleteFeature(fid)
      drawnLayers.addTo(mappy);
    });
  }

</script>
{% endblock %}
